.calc{
    width: 400px;
    height: 600px;
    background-color: rgb(0, 0, 5, 0.764);
    margin-left: 40px;
    border-radius: 38px;
}
#screen{
    width: 80%;
    height: 40px;
    margin-left: 36px;
    margin-top: 30px;
    pointer-events: none;
}
.btn{
    width: 60px;
    height: 45px;
    margin-left: 30px;
    margin-top: 30px;
    background: hsl(0, 0%, 30%);
    border: none;
    border-radius: 50px;
    color: white;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color:hsl(0, 0%, 40%); 
}
.btn:active{
    background-color: hsl(0, 0%, 50%);
}

    

